@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Island+Moments&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  color: #22577E;
  font-family: 'Cairo', sans-serif;
  padding-bottom: 30px ;
}
.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #F6F2D4;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 4rem;
  font-family: 'Barriecito', cursive;
  margin-bottom: 2rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 59% 70%, 50% 100%, 39% 70%, 0 70%);
clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 59% 70%, 50% 100%, 39% 70%, 0 70%);
}

form {
  margin: 0 auto;
  border: 2px dashed #2E3F51;
  width: 35%;
  padding: 2rem;
  box-sizing: border-box;
}
label {
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.fas {
  font-size: 1rem;
  margin-right: .4rem;
}
input {
  margin: .8rem 2rem 2rem 0;
  display: block;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 75%;
}
input::placeholder {
  color: #c1c1c1;
}
input:focus {
  outline:none;
}

#addTip {
  border: none;
  background-color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
  color: #53BD9C;
  font-family: 'Lora', serif;
}
#addTip:hover {
  color: #2E3F51;
}
#tipInput {
display: none;
  transition: display 3s ease-in;
  -webkit-transition: display 3s ease-in;
}
#tipPercent{
  margin-bottom: .5rem;
}
#switchTip {
  font-weight: 700;
  margin-bottom: 1.5rem;
  border: none;
}
.buttonSpace {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.buttonSpace button {
  margin-top: .6rem;
  border-radius: 10px;
  display: inline-block;
  padding: .5rem 4rem;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
}
#splitBtn {
  transition: .3s;
  background-color: #F6F2D4;
  color: #333;
}
#splitBtn:hover {
  border: 1px solid #F6F2D4;
  background-color: #fff;
  letter-spacing: .4rem;
  color: #2E3F51;
}
#resetBtn {
  background-color: #2E3F51;
  color: white;
}
#perPerson {
  padding-top: 1.5rem;
  font-family: 'Barriecito', cursive;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: #53BD9C;
}

footer {
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
}


/*  =============== . MEDIA QUERIES ============ */
@media screen and (max-width: 992px) {
  .insert {
  width: 80%;
}
  label {
    display: block;
  }

  #submit {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
 .insert {
  width: 90%;
}
.buttonSpace button {
  width: 90%;
  display: inline-table;

}
}